<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>t2e Analyzer</title>
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js" type="text/javascript"></script>
    <style>
        body {
            font-family: 'Poppins';
            background: linear-gradient(90deg,#7bed9f, #3498db);
          }
          </style>
</head>
<body>
    <h1>The data</h1>
  <%=data%>
    
    <div id="container"></div>
    <script>
 
       /* var pie = new ej.charts.AccumulationChart({
            //Initializing Series
            series: [
                {
                    dataSource: [
                        { 'x': 'Happy', y: 37 }, { 'x': 'UC Browser', y: 17 },
                        { 'x': 'iPhone', y: 19 },
                        { 'x': 'Others', y: 4 }, { 'x': 'Opera', y: 11 },
                        { 'x': 'Android', y: 12 }
                    ],
                    dataLabel: {
                        visible: true,
                        position: 'Inside',
                    },
                    xName: 'x',
                    yName: 'y'
                }
            ],
        });
        pie.appendTo('#container');*/
    </script>
</body>
</html>